#conteudo{
	
	width: 600px;
	height: 400px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

#espaco{
	margin-left: 32px;
	margin-top: 12px;
}
#nome{

	width: 400px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Sans Serif";
	font-size: 100px;
	margin-top: 50px;
} 

#campo{

	width: 400px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
#azul{
	color:#007fff;
	float: left;
}

#vermelho{
	color:#ff0000;
	float: left;
}
#amarelo{
	color: #feff00;
	float: left;
}

#verde{
	color: green;
	float: left;
}

#botoes{
	width: 330px;
	height:68px;

	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#armengue{
	width: 307px;
	height:28px;

	margin-left: auto;
	margin-top: auto;

}

#msg{
	width: 300px;
	height: 18px;

	font-size: 14px;
	color: black;
	margin-left: auto;
	margin-top: 10px;
}