#bloco{
	width: 30%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}

#circ{
	width: 140px;
	height: 140px;
	background-color: red;
	border-radius: 50%;
	float: left;
	margin-left: 4px; 
}
#quad{
	width: 140px;
	height: 140px;
	background-color: green;
	float: left; 
	margin-left: 4px;
	border-radius: 10%;
}