body{
    background-color:teal;
    font-family: 'Tahoma';
    font-size: 22px;
    color: ghostwhite; 
    text-align: center;
}
p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: justify;
}

footer{
    font-size: 12px;
    font-style: italic;
}

#you{
    width: 120px;
    height: 120px;
    border: gray 1px solid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 11%;
    background-color:white;
}
















